canvas {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-page {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  background: #000000;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 60%;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Main Page */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  font-family: "Alatsi", sans-serif;
  font-size: 10vw;
  padding: 50px 20px 0;
  text-align: center;
  margin: 30px auto 0;
}

.bio {
  display: inline-flex;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  line-height: 150%;
  letter-spacing: 2px;
  margin-bottom: 10%;
  color: #dddddd;
}

.left-bio {
  text-align: right;
}

.right-bio {
  text-align: left;
}

/* About page */
.page-content {
  width: 70%;
  color: rgb(0, 0, 0);
  line-height: 200%;
  letter-spacing: 2px;
  margin-bottom: 5%;
}

/* Project page */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 80px;
  justify-content: center;
}

.portfolio-item {
  position: relative;
  display: inline;
  width: 60%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 auto 5%;
}

.portfolio-item h2 {
  margin: 20px;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.horizontal_line{ 
  display:block;
  border:none;
  color:white;
  height: 1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.gallery a {
  color: #000000;
}

/* Header for other pages */
.side-pages h1,
.side-pages {
  background-color: #ffffff;
  color: #000000;
}

.content {
  flex: 1; /* Take up remaining vertical space */
  min-height: 60vh;
}

/* Footer section */
footer {
  height: 50px;
  background-color: #000000;
}

footer > p {
  color: #ffffff;
  padding: 30px 0 10px;
}

a {
  text-decoration: none;
}

.socials > a > img {
  height: 55px;
  width: 55px;
  padding: 10px;
}

.nav-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 10px 50px;
  margin: 0 25px 40px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #ffffff;
  text-align: center;
  color: #fbf9f9;
  background-color: transparent;
  transition: background-color 0.6s;
  font-size: 15px;
}

.btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/* Navigation Bar */
nav {
  top: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #a2a2a2;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

@media screen and (max-width: 868px) {
  .nav-button {
    display: flex;
    flex-direction: column;
  }

  .btn {
    padding: 10px 50px;
    margin: 8px;
    font-size: 12px;
    flex: 1;
  }

  p {
    font-size: 14px;
  }

  .page-content {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .btn {
    padding: 8px 40px;
    margin: 6px;
    font-size: 10px;
    flex: 1;
  }

  p {
    font-size: 12px;
  }

  .page-content {
    width: 80%;
    line-height: 150%;
  }

  /* Navigation Bar */
  nav {
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 8px;
  }

  nav ul {
    padding: 8px;
  }

  nav ul li {
    margin: 0 8px;
  }

  nav ul li a {
    padding: 8px;
    font-size: 13px;
  }

  /* Footer section */
  footer > p {
    color: #ffffff;
    padding: 30px 0 10px;
  }

  .socials > a > img {
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-bottom: 8px;
  }
}
